services:
  nats:
    image: nats:2.10-alpine
    container_name: nats
    command: ["-js", "-sd", "/data", "--http_port", "8222"]
    ports:
      - "4222:4222"   # NATS client
      - "8222:8222"   # NATS monitoring UI
    volumes:
      - nats-data:/data
  
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  nats-data:
  redis-data:
